$color-white: #FFFFFF;

$color-black: #1F0C12;
$color-black-light: #350E1A;

$color-grey-light: #E9E7E7;
$color-grey: #796D71;
$color-grey-dark: #615055;

$color-primary: #FF1E62;
$color-primary-light-1: #FBEFF3;
$color-primary-light-2: #FF1E62;

$color-instagram: #FB2306;