@import "../../sass/colors";

.input {
    width: 100%;
    height: 3.9rem;
    border: 0.1rem solid $color-grey-light;
    padding: 1rem;
    border-radius: 0.8rem;

    font-size: 1.6rem;
    color: $color-grey;

    &::placeholder {
      color: $color-grey;
    }
}