@import "../../../sass/colors";

.dateSeparator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    margin: 1rem 0;

    &__text {
        font-size: 1.8rem;
        font-weight: 500;
        color: $color-black;
    }


    &__line {
        flex: 1;
        border: 1px solid $color-black;
    }
}