@import "../../sass/colors";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    padding: 1rem;
    border-radius: 1rem;

    border: 1px solid $color-grey;

    cursor: pointer;

    &--instagram {
        color: $color-instagram;
    }

    span {
        font-size: 1.6rem;
        color: $color-black;
    }
}