@import '../../sass/colors';

.menuBar {
    height: 4.2rem;

    &__list {
        height: 100%;

        list-style: none;
        display: flex;
        align-items: center;
        gap: 1rem;

        &__item {
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            padding: 0 1rem;

            font-size: 1.6rem;
            font-weight: 600;
            color: $color-black;
            text-decoration: none;
            cursor: pointer;
            opacity: 0.5;

            box-sizing: border-box;
            border-bottom: 1px solid transparent;

            &__icon {
                color: $color-primary;
            }

            &--active {
                opacity: 1;

                border-bottom: 1px solid $color-primary;
            }
        }
    }
}